body {
  font-family: "Raleway", serif;
  background-color: var(--color-black);
  background-size: cover;
  background-repeat: no-repeat;


  &::before, {
    content: '';
    position: absolute;
    top: 200px;
    right: 0;
    width: 300px;
    height: 500px;
    background: var(--color-yellow);
    filter: blur(200px);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 500px;
    left: 0;
    width: 300px;
    height: 400px;
    background: var(--color-blue);
    filter: blur(200px);
    z-index: 1;
  }
}

.center {
  padding: 0 calc(50vw - 720px);
}