.project {

  &__title {
    display: flex;
    justify-content: center;
    color: var(--color-white);
    font-size: 42px;
    font-weight: 400;
    line-height: 1.16;
    padding-top: 100px;
  }

  &__gallery {
    display: flex;
    position: relative;
    gap: 10px;

  }

  &__item {
    position: absolute;
    top: 215px;
    left: 15px;
    color: var(--color-white);
    font-size: 20px;
  }

  &__item-1 {
    position: absolute;
    bottom: -10px;
    left: 15px;
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
  }

  &__item-2 {
    position: absolute;
    bottom: -10px;
    left: 375px;
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
  }

  &__item-3 {
    position: absolute;
    top: 225px;
    left: 730px;
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
  }

  &__item-4 {
    position: absolute;
    bottom: 0;
    left: 1100px;
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
  }


  &__border-1 {
    border: 1px solid var(--color-black);
    background-color: var(--color-yellow);
    border-radius: 30px;
    width: 345px;
    height: 168px;
  }

  &__border-2 {
    border: 1px solid var(--color-black);
    background-color: var(--color-blue);
    border-radius: 30px;
    width: 345px;
    height: 168px;
    margin-top: 20px;
  }

  &__text {
    color: var(--color-black);
    font-size: 20px;
    line-height: 1.2;
    padding: 80px 10px;

  }

  &__text-2 {
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
    padding: 90px 10px;
  }

  &__icon {

    &--1 {
      border: 1px solid var(--color-black);
      border-radius: 30px;
    }


    &--2 {
      border: 1px solid var(--color-black);
      border-radius: 30px;
      margin-top: 20px;
    }

    &--3 {
      border: 1px solid var(--color-black);
      border-radius: 30px;
      margin-top: 20px;
    }

    &--4 {
      border: 1px solid var(--color-black);
      border-radius: 30px;
    }

    &--5 {
      border: 1px solid var(--color-black);
      border-radius: 30px;
    }
  }
}



