@import "normalize";
@import "header/vars";
@import "global";
@import "media";

@import "common/info";
@import "common/menu";
@import "common/nav";
@import "common/title";
@import "common/btn";
@import "common/border";

@import "common/main";
@import "common/goal";
@import "common/mission";
@import "common/activity";
@import "common/num";
@import "common/column";
@import "common/player";
@import "common/project";
@import "common/active";
@import "common/member";
@import "common/partners";
@import "common/news";
@import "common/team";
@import "common/map";

@import "footer/footer";
@import "footer/section";

@import "header/logo";
@import "header/header";
@import "header/social";
@import "header/connect";
@import "header/leng";



