.leng {


  &__list {
    display: flex;
    justify-content: end;
    padding-top: 32px;
    align-items: center;
    color: var(--color-white);
    gap: 5px;
    list-style: none;
    font-size: 18px;
    cursor: pointer;

    &::-webkit-details-marker,
    &::marker {
      display: none;
    }
  }

  &__item[open] &__list {
    color: var(--color-blue);

    svg {
      stroke: var(--color-blue);
      rotate: 180deg;
    }
  }

  &__ukr:hover {
    color: var(--color-blue)
  }

  &__icon:hover {
    stroke: var(--color-blue);
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--color-white);
    transition: .5s;

  }

  &__text {
    align-items: center;
    position: absolute;
    top: 65%;
    border: 1px solid var(--color-black);
    background-color: var(--color-black);
    width: 61px;
    height: 69px;
    padding: 5px;
    gap: 5px;
    scale: 1 0;
    transition: 0.5s;
    transform-origin: top left;
    z-index: 1000;
    overflow: visible;
  }

  &__item[open] + &__text {
    scale: 1 1;
  }

  &__trans {
    color: var(--color-white);
    text-decoration: none;
  }

  &__trans:hover {
    color: var(--color-blue);
  }

}