.social {
  display: flex;
  gap: 18px;
  padding: 35px;


  &__list {
    list-style-type: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--color-black);
    stroke: white;

  }

  &__icon:hover {
    stroke: #1A7DF0;
  }
}
