.activity {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 10px;


  &__border {
    box-sizing: border-box;
    border: 1px solid var(--color-blue);
    border-radius: 30px;
    background-color: var(--color-blue);
    width: 710px;
    height: 720px;


  }

  &__title {
    position: relative;
    left: 50px;
    color: var(--color-white);
    font-size: 30px;
    font-weight: 400;
    line-height: 49px;

  }

  &__navbar {
    list-style: none;
    width: 587px;
    height: 480px;


  }

  &__item {
    color: var(--color-white);
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0 20px;
    padding: 0 25px 0 30px;

    &::before {
      content: '';
      position: absolute;
      left: 6px;
      top: 1px;
      transform: translateY(-50%);
      width: 11px;
      height: 11px;
      background-color: #FFE711;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      transform: translateY(-50%);
      width: 11px;
      height: 11px;
      border: 6px solid rgba(255, 255, 255, 0.25);
      border-radius: 50%;
    }
  }

  &__img {

  }

}

