.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 95px;


  &__hand {
    position: absolute;
    width: 1720px;
    height: 660px;
    top: 60px;
  }
}