.map {
  border: 1px solid var(--color-blue);
  box-sizing: border-box;
  background-color: var(--color-blue);
  height: 504px;
  margin-top: 100px;


  &__title {
    display: flex;
    justify-content: center;
    color: var(--color-white);
    font-size: 42px;
    font-weight: 400;
    line-height: 1.16;
    margin-top: 50px;


  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 40px;

  }

  &__block {
    position: relative;
    bottom: 20px;
  }

  &__svg-1 {
    fill: none;
    stroke: #FFE711;
    width: 25px;
    height: 24px;
    margin: 0 18px;

  }

  &__mail {
    fill: none;
    stroke: var(--color-white);
    width: 25px;
    height: 24px;
    margin: 0 18px;
  }

  &__info {
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.5;

  }

  &__cart {
    width: 710px;
    height: 305px;
    border-radius: 30px;
  }

  &__post {
    position: relative;
    bottom: 5px;
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.5;

  }
}