.player {
  display: flex;
  position: relative;
  gap: 10px;
  
  &__youtube {
    margin-top: 60px;
    width: 700px;
    height: 398px;
    border-radius: 15px;
    margin-left: 10px;


  }

  &__list {
    width: 710px;
    height: 408px;
    margin-top: 32px;

  }

  &__title {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;

  }

  &__text {
    position: relative;
    color: var(--color-white);
    font-size: 20px;
    line-height: 30px;

  }

  &__button {

  }

  &__button1 {
    border: 1px solid var(--color-yellow);
    background-color: var(--color-yellow);
    border-radius: 100px;
    width: 340px;
    height: 58px;
    margin-right: 20px;
    padding: 15px 68px 15px 68px;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__button2 {
    position: absolute;
    border: 1px solid var(--color-yellow);
    background-color: var(--color-black);
    border-radius: 100px;
    width: 340px;
    height: 58px;
    padding: 15px 68px 15px 68px;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

  }

  &__link1 {
    color: var(--color-black);
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }

  &__link2 {
    color: var(--color-yellow);
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

  }
}