.project {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__title {
    position: relative;
    text-align: center;
    color: var(--color-white);
    font-size: 42px;
    font-weight: 400;
    line-height: 1.16;
    bottom: 20px;
    margin-top: 100px;

  }

  &__column {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      border-radius: 30px;
      background: linear-gradient(to top, rgba(1, 30, 65, 0.75), rgba(0, 0, 0, 0));
    }
  }


  &__img {
    display: block;
    border-radius: 30px;
    margin-top: 20px;


  }

  &__border-1 {
    border: 1px solid var(--color-yellow);
    background-color: var(--color-yellow);
    border-radius: 30px;
    width: 345px;
    height: 168px;
    margin-top: 20px;
  }

  &__border-2 {
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    border-radius: 30px;
    width: 345px;
    height: 168px;
    margin-top: 20px;
  }

  &__text-1 {
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    top: 210px;
    left: 20px;
  }

  &__text-2 {
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    bottom: -10px;
    left: 20px;
  }

  &__text-3 {
    color: var(--color-black);
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    padding-top: 80px;
    padding-left: 20px;
  }

  &__text-4 {
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    bottom: -10px;
    left: 20px;

  }

  &__text-5 {
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    bottom: -10px;
    left: 20px;
  }

  &__text-6 {
    color: var(--color-black);
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    padding-top: 100px;
    padding-left: 20px;

  }

  &__text-7 {
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    bottom: -10px;
    left: 20px;
  }

}


